@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body > main > section.space-y-20.bg-\[\#0d1117\] > section:nth-child(2) > section > section.w-full.flex.items-start.justify-between > section.w-\[35\%\] > ul {
  padding: 0 !important;
}

@layer base {

  @font-face {
    font-family: "MonaSans-Regular";
    src: url("/fonts/MonaSans-Regular.otf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "MonaSans-Medium";
    src: url("/fonts/MonaSans-Medium.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "MonaSans-Semibold";
    src: url("/fonts/MonaSans-Semibold.otf");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "MonaSans-Bold";
    src: url("/fonts/MonaSans-Bold.otf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "MonaSans-Black";
    src: url("/fonts/MonaSans-Black.otf");
    font-weight: 900;
    font-style: normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
